@import '../variables';

.header {

    @media (min-width: $screen-lg) {

        border-bottom: 1px solid $color-main;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    display: flex;
    flex-direction: column;    
    text-align: center;
    color: $color-main;
    font-size: 3.1rem;
    line-height: 1.1;
    padding: 0.7rem 0;
}

.header__nav-trigger {
    background: none;

    @media (min-width: $screen-lg) {

        display: none;
    }
}
