.header {
    border-bottom: 1px solid $color-main;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-main;
    font-weight: bold;
    line-height: 1.1;
    padding: 0.7rem 0;
    text-transform: uppercase;
    white-space: nowrap;

    @media (min-width: $screen-xl) {
        font-size: 3rem;

    }

    @media (max-width: ($screen-xl - 1)) {
        font-size: 2rem;
    }

    .header__nav-trigger {
        background: none;

        @media (min-width: $screen-lg) {

            display: none;
        }
    }
}