.addCar__title {

    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.addCar__form {
    display: flex;

    @media (max-width: ($screen-xl - 1)) {
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: $screen-xl) {
        justify-content: space-between;
        margin-bottom: 3rem;
    }
}

.addCar__add-result {
    text-align: center;
}

.addCar__form-item {

    @media (max-width: ($screen-xl - 1)) {
        margin-bottom: 3rem;
    }

    @media (min-width: $screen-sm) {
        width: fit-content;
    }

    @media (max-width: ($screen-sm - 1)) {
        width: 100%;
    }
}

.addCar__radio {
    display: flex;
    flex-direction: column;
}