.addCar__title {

    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.addCar__form {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.addCar__add-result {
    text-align: center;
}

.addCar__form-item {
    width: fit-content;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.addCar__radio {
    display: flex;
    flex-direction: column;
}