.admin__title {
    
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}

.admin__forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin__add-result {
    text-align: center;
}

.admin__form-item {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}