.admin__title {
    
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}

.admin__forms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.admin__add-result {
    text-align: center;
}

.admin__form-item {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.admin__radio {
    display: flex;
    flex-direction: column;
}