.analyst__title {
    
    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.analyst__export-buttons {
    display: flex;
    justify-content: center;
}

.analyst__export-buttons > span {
    display: block;

    &:not(:last-child) {
        margin-right: 40px;
    }
}