.changeModal__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &:not(:last-child){
        margin-right: 15px;
    }
}

.changeModal__text {
    white-space: break-spaces;
    display: block;
    font-weight: 400;
    color: $black;

    @media (min-width: $screen-lg) {
        font-size: 2.5rem;
    }

    @media (max-width: ($screen-lg - 1)) {
        font-size: 2rem;
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.changeModal__elems {
    display: flex;
    align-items: center;
}

.changeModal__select {
    width: 452px;
}