.security__checking {
    display: flex;
    align-items: center;
}

.security__car-result {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;

    &:not(:last-child) {
        margin-right: 5rem;
    }
}

.security__text {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;

    &:not(:last-child) {
        margin-bottom: 15rem;
    }
}

.security__button {
    
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.security__log {
    padding: 3rem;
    overflow: auto;
    width: 50%;
    height: 650px;
    border-radius: 10px;
    background-color: $color-main;
    color: $white;
    font-size: 1.4rem;
    font-weight: bold;
}