.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin__logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-main;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    white-space: nowrap;

    @media (min-width: $screen-lg) {
        font-size: 6rem;
        margin-bottom: 3rem;
    }


    @media (min-width: $screen-md) and (max-width: ($screen-xl - 1)) {
        font-size: 5rem;
        margin-bottom: 3rem;
    }

    @media (max-width: ($screen-md - 1)) {
        font-size: 4.5rem;
        margin-bottom: 3rem;
    }
}

.signin__form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.signin__form-item {

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.signin__button {

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &--center {
        display: block;
        margin: auto;
    }
}