.user__title {

    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.user__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.user__add-result {
    text-align: center;
}

.user__form-item {

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    @media (max-width: ($screen-xl - 1)) {
        margin-bottom: 3rem;
    }

    @media (min-width: $screen-sm) {
        width: fit-content;
    }

    @media (max-width: ($screen-sm - 1)) {
        width: 100%;
    }
}

.user__radio {
    display: flex;
    flex-direction: column;
}