.section {

    @media (min-width: $screen-lg) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

.title {
    font-weight: 400;
    color: $black;
    display: block;

    &--small {

        @media (min-width: $screen-lg) {
            font-size: 3rem;
        }

        @media (max-width: ($screen-lg - 1)) {
            font-size: 2rem;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &--medium {

        @media (min-width: $screen-lg) {
            font-size: 4rem;
        }

        @media (max-width: ($screen-lg - 1)) {
            font-size: 3rem;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &--large {

        text-align: center;

        @media (min-width: $screen-lg) {
            font-size: 5rem;
        }

        @media (max-width: ($screen-lg - 1)) {
            font-size: 4rem;
        }
    }
}

.status {
    display: block;
    text-align: center;
    font-size: 2rem;

    &--success {
        color: $color-success;
    }

    &--warning {
        color: $color-danger;
    }
}