.table {
    overflow-x: auto;
}

.table__table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;

    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.table__title {
    margin-bottom: 2rem;
}

.table__thead {
    background-color: $color-main;
    color: white;
}

.table__tbody {
    border: 1px solid $gray--lighten;

    tr:nth-child(even) {
        background-color: $gray--lighten;
    }
}

.table__th {
    font-weight: 400;
}

.table__th:first-child {

    @media (max-width: ($screen-lg - 1)) {
        border-top-left-radius: 10px;
    }

    @media (min-width: $screen-lg) {
        border-top-left-radius: 20px;
    }
}

.table__th:last-child {

    @media (max-width: ($screen-lg - 1)) {
        border-top-right-radius: 10px;
    }

    @media (min-width: $screen-lg) {
        border-top-right-radius: 20px;

    }
}

.table__th,
.table__td {
    border: none;
    text-align: left;
    word-break: normal;

    @media (max-width: ($screen-lg - 1)) {
        padding: 15px;
        font-size: 1.8rem;
    }

    @media (min-width: $screen-lg) {
        padding: 30px;
    }
}

.table__th-sortable {
    &:hover {
        text-decoration: underline;
    }

    cursor: pointer;
}

.table__descending {
    &::after {
        content: '\21E7';
        display: inline-block;
        margin-left: 0.5rem;
    }
}

.table__ascending {
    &::after {
        content: '\21E9';
        display: inline-block;
        margin-left: 0.5rem;
    }
}

.table__link {
    font-weight: 600;
    color: $color-main;

    &:hover {
        text-decoration: underline;
    }
}