.input {
    background: $white;
    border: none;
    font-family: inherit;
    transition: 0.3s;
    padding: 1.8rem 1.5rem;
    border-radius: 10px;


    &--small {

        @media (min-width: $screen-lg) {
            width: 370px;
            font-size: 20px;
        }

        @media (max-width: ($screen-lg - 1)) {
            width: 200px;
            font-size: 12px;
        }
    }

    &--medium {

        @media (min-width: $screen-lg) {
            width: 420px;
            font-size: 20px;
        }

        @media (max-width: ($screen-lg - 1)) {
            width: 250px;
            font-size: 12px;
        }
    }

    &--default {
        border: 1px solid $gray;
        color: $black;

        &:focus {
            border-color: $color-main;
            outline: none;
        }

        &:focus ~ .input__name {
            color: $color-main;
        }

        &::placeholder {
            color: $gray;
        }

        &:invalid:required {
            border: 1px solid $color-danger;
        }
    }
}

.input__name {
    position: absolute;
    left: 15px;
    top: -12px;
    background-color: $white;
    padding: 0px 5px;
    font-size: 18px;
    color: $gray;
    transition: 0.3s;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}